<h1><%= @track.name %></h1>
<table>
  <tr>
    <td>
      Album:
    </td>
    <td>
      <%= @track.album.name %>
    </td>
  </tr>
  <tr>
    <td>
      Type:
    </td>
    <td>
      <%= @track.track_type.capitalize %>
    </td>
  </tr>
  <tr>
    <td>
      Lyrics:
    </td>
    <td>
      <%= @track.lyrics.empty? ? "None" : ugly_lyrics(@track.lyrics) %>
    </td>
  </tr>
</table>

<%= link_to "Edit",
      edit_track_url(@track),
      method: :get %> |
<%= link_to "Delete",
      track_url(@track),
      method: :delete,
      data: { confirm: "Are you sure you want to delete #{@track.name}?" } %>

<h3>Notes</h3>

<% unless @track.notes.empty? %>
  <% @track.notes.each do |note| %>
    <%= render 'notes/note', note: note %>
  <% end %>
<% end %>

<%= render 'notes/form', track: @track %>
