<% content_for(:session) do %>
  <%= render 'shared/session_bar' %>
<% end %>

<h1><%= @album.name %></h1>

<%= render 'album', album: @album %>

<%= link_to "Add a track",
      new_track_url,
      method: :get %> |
<%= link_to "Edit",
      edit_album_url(@album),
      method: :get %> |
<%= link_to "Delete",
      album_url(@album),
      method: :delete,
      data: { confirm: "Are you sure you want to delete #{@album.name}?" } %>
